body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px;
    background-color: #ffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid wheat;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.emp-text{
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}
*{
    box-sizing: border-box;
}
.form-container{
    background-color: #f3f4f8;
    padding: 30px;
}
.form-content{
    margin: 0px auto;
    width: 60%;
    margin-top: 35px;
}
.form-head{
    display: flex;
    justify-content: space-around;
    background-color: cornflowerblue;
}
.heading {
    width: 90%;
    text-align: center;
}
.cancel_img {
    margin: auto 4px;
}
.form-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
    background: white;
}
.fullname-label {
    position: relative;
    left: 30px;
    font-size: 12px;
    top: 8px;
    padding: 4px;
    background: white;
}
.full-width {
    width: 100%;
}
.input-field{
    height: 40px;
    width: 100%;
}
.top-margin{
    margin-top: 20px;
}
.zipcode-field{
    height: 40px;
    width: 35%;
}
.dropdown{
    height: 40px;
    width: 30%;
    margin-right: 12px;
}
.form-foot{
    text-align: center;
    background: white;
    padding: 30px;
}
.custom-buttons{
    height: 30px;
    width: 75px;
}
.right-margin{
    margin-right: 85px;
}